// Переменные
$color-blue: #0066cc;
$color-gray: #f5f5f5;

// Миксин для кнопки
@mixin btn-style {
  background: $color-blue;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background: darkblue;
  }
}

// Стили карточки
.card {
  width: 300px;
  border: 2px solid #ddd;
  padding: 15px;
  background: white;
  border-radius: 10px;

  &__img {
    width: 100%;
    height: 300px;
    background: $color-gray;
  }

  &__title {
    font-size: 20px;
    margin: 10px 0 5px;
  }

  &__desc {
    color: #666;
    font-size: 14px;
    margin: 0 0 15px;
  }

  &__btn {
    @include btn-style;
  }

}