global
    # Базовые настройки HAProxy
    maxconn 2000
    daemon

defaults
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# Настройка приема трафика (Слушаем порт 80)
frontend http_front
    bind *:80
    default_backend http_back

# Настройка балансировки
backend http_back
    balance roundrobin

    # Указываем наши контейнеры. Параметр check включает проверку их доступности
    server srv1 backend1:3001 check
    server srv2 backend2:3002 check

    # Резервный сервер
    server srv_backup backend_backup:3003 check backup
